@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

html {
    text-align: center;
    margin: 0px;
    background-color: #242526;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

input {
    border-radius: 5px;
    border-style: none;
    height: 25px;
    background-color: #292a2b;
    color: white;
}

.child {
    margin: 0px;
}

.rpcLog {
    margin-top: 3vh;
    width: 80%;
    height: 45vh;
    resize: none;
    border-radius: 10px;
    background-color: #292a2b;
    border-style: none;
    color: white;
    font-size: 16px;
    padding: 5px;
}

select {
    margin-top: 1vh;
    background-color: #292a2b;
    color: white;
    width: 120px;
    font-size: 16px;
    height: 30px;
    border-style: solid;
    border-radius: 10px;
    border-color: #121314;
    border-width: 2px;
}

.imageUrlButton {
    width: 32px;
    transition: all .2s ease-in;
    border-color: red;
}

.imageUrlButton:hover {
    color: red;
}

.rounded { border-radius: 100px; border-width: 1px; }

.mylink {
    padding: 5px;
    border-radius: 25px;
    background-color: transparent;
    border-color: white;
    border-style: none;
    transition: all .2s ease-in;
}

.mylink:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
}

.links {
    display: flex;
align-items: center;
justify-content: center;
}

input:invalid {
    background-color: #7d1414;
}

/* ::-webkit-scrollbar { display: none; } */