@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

html {
    text-align: center;
    margin: 0px;
    background-color: #242526;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

input {
    border-radius: 5px;
    border-style: none;
    height: 25px;
    background-color: #292a2b;
    color: white;
}

.child {
    margin: 0px;
}

.rpcLog {
    margin-top: 3vh;
    width: 80%;
    height: 45vh;
    resize: none;
    border-radius: 10px;
    background-color: #292a2b;
    border-style: none;
    color: white;
    font-size: 16px;
    padding: 5px;
}

select {
    margin-top: 1vh;
    background-color: #292a2b;
    color: white;
    width: 120px;
    font-size: 16px;
    height: 30px;
    border-style: solid;
    border-radius: 10px;
    border-color: #121314;
    border-width: 2px;
}

.imageUrlButton {
    width: 32px;
    transition: all .2s ease-in;
    border-color: red;
}

.imageUrlButton:hover {
    color: red;
}

.rounded { border-radius: 100px; border-width: 1px; }

.mylink {
    padding: 5px;
    border-radius: 25px;
    background-color: transparent;
    border-color: white;
    border-style: none;
    transition: all .2s ease-in;
    
    
}

.mylink:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    text-align: center;
}
input:invalid {
    background-color: #7d1414;
}

.saveButtons {
    margin-top: 10px;
    background-color: transparent;
    color: white;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    /* font-size: 15px; */
    transition: all .2s ease-in;
}

.saveButtons:hover {
    color: black;
    background-color: white;
}
/* ::-webkit-scrollbar { display: none; } */



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 24px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }